doctype 5
html
  head
    block head
    link(rel='stylesheet', type='text/css', href='/style')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Små kort,Måleri,Handmålade,Gratulationskort,Kort,Fröken Röd,Målning,Lena Emilsson,Handmålat,Höga kort')
  body
    main
      header
        nav
          a(href='/') Hem
          a(href='/tray') Brickor
          a(href='/card') Gratulationskort
          a(href='/coaster') Grytunderlägg
          a(href='/contact') Kontakt
      block content
      footer
        = 'Copyright 2009 - ' + (new Date).getFullYear() + ' Fröken Röd Gratulationskort'
        span.sep= ' • '
        a(href='https://github.com/LinusU/frokenrod.com') Source code on GitHub
