
extends base

block head
  title Fröken Röd

block content
  article.feed
    .item-text
      h1 Välkommen
      p
        | Välkommen till Fröken Röd. Titta in i mitt galleri, där du hittar
        | gratulationskort för alla tillfällen och kanske just det kort du
        | söker. Välj bland de olika motiven och kontakta mig om du är nyfiken
        | på min övriga konst.
      p
        | Nedan hittar du även mina senaste bilder från Instagram där du finner mig
        | som <a href="http://instagram.com/frokenrodskonst">@frokenrodskonst</a>.
      p
        img(src='/img/signature.png', alt='Lena Emilsson')
    for e in feed
      figure.item-img
        img(src=e.image)
        figcaption
          .profile
          time
            = (new Date(e.timestamp)).getFullYear() + '-'
            = (new Date(e.timestamp)).getMonth() + 1 + '-'
            = (new Date(e.timestamp)).getDate()
          span= (e.title || '')
