
extends base-feed

block head
  title Fröken Röd

block text
  .item-text
    h1 Välkommen
    p
      | Välkommen till Fröken Röd. Titta in i mitt galleri, där du hittar
      | gratulationskort för alla tillfällen och kanske just det kort du
      | söker. Välj bland de olika motiven och kontakta mig om du är nyfiken
      | på min övriga konst.
    p
      | Nedan hittar du även mina senaste bilder från Instagram där du finner mig
      | som <a href="http://instagram.com/frokenrodskonst">@frokenrodskonst</a>.
    p
      img(src='/img/signature.png', alt='Lena Emilsson')
