
extends base-feed

block head
  title Fröken Röds Brickor

block text
  .item-text
    h1 Brickor
    p
      | Jag gillar brickor som både är praktiska
      | och pryder sin plats i hemmet.
    p(style='color: red')
      | Just nu har vi problem med att visa bilderna på hemsidan,
      | men det går bra att se alla bilder på instagram:
      a(href='https://www.instagram.com/frokenrodskonst/')  frokenrodskonst
